<ng-container *ngIf="settings$ | async as settings">

  <div class="row" rtl>

    <div class="col-md-6 group" [ngClass]="routeAnimationsElements">

      <h2>{{ 'app.settings.general.title' | translate }}</h2>

      <div class="icon-form-field">
        <mat-form-field appearance="fill">
          <mat-label>NETA USERNAME</mat-label>
          <input matInput [(ngModel)]="usernameaccount" [value]="usernameaccount" placeholder="username">
        </mat-form-field>
      </div>

      <div class="icon-form-field">
        <mat-form-field>
          <mat-select [placeholder]="'app.settings.general.placeholder' | translate" [value]="settings.language"
            (selectionChange)="onLanguageSelect($event)" name="language">
            <ng-container *ngFor="let l of languages">
              <!-- ngFor hack of missing ngLet of Angular -->
              <mat-option *ngFor="let title of ['app.settings.general.language.' + l.value | translate]"
                [value]="l.value" [title]="title !== l.label
                  ? title
                  : ''">
                {{ l.label }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
      <h2>{{ 'app.settings.themes.title' | translate }}</h2>
      <div class="icon-form-field">
        <mat-form-field>
          <mat-select [placeholder]="'app.settings.themes.placeholder' | translate" [value]="settings.theme"
            (selectionChange)="onThemeSelect($event)" name="themes">
            <mat-option *ngFor="let t of themes" [value]="t.value">
              {{ 'app.settings.themes.' + t.label | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="icon-form-field">
        <mat-placeholder>{{ 'app.settings.themes.night-mode' | translate }}
        </mat-placeholder>
        <mat-slide-toggle [checked]="settings.autoNightMode" (change)="onAutoNightModeToggle($event)">
        </mat-slide-toggle>
      </div>
    </div>

    <a mat-raised-button class="actions-main" color="accent" (click)="savesettings()"
      [ngClass]="routeAnimationsElements">
      Save Settings
    </a>

  </div>

</ng-container>