@import "./../../../../../styles-variables";

mat-card {
  margin: 0 0 10px 0;

  mat-card-title {
    position: relative;
    margin-bottom: 5px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
      margin-bottom: 5px;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}

.main-image {
  margin: 0px 0px 0.5rem auto;
  width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba2.jpg");
  background-size: cover;
}

mat-card:hover .selection {
  opacity: 1;
}
mat-card.mat-elevation-z4 .selection {
  opacity: 1;
}
.card-selected {
  border: 2px solid #283593;
}

.selection {
  opacity: 0;
  cursor: pointer;
  color: #283593;
  background: #fff;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-padding {
  padding: 0px 5px 0px 5px;
}

.card-list {
  padding: 5px 5px 5px 5px;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  display: block;
  margin-bottom: 10px;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px;
  padding-bottom: 0;
}


.main-image {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
}