<div [class]="'theme-wrapper ' + (theme$ | async)">
    
    <router-outlet></router-outlet>
    
    <nav class="mobile-bottom-nav d-inline-flex d-md-none" *ngIf="theme$ | async as theme">
        <div *ngFor="let item of navigation" class="mobile-bottom-nav__item" [routerLink]="[item.link]"
            routerLinkActive="active">
            <div class="mobile-bottom-nav__item-content">
                <i class="material-icons">{{item.icon}}</i>
                {{item.label | translate}}
            </div>
        </div>
    </nav>

</div>