@use "~@angular/material" as mat;
@import "./../../../../../styles/styles-variables.scss";

@mixin app-settings-netas-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .card-selected {
    border: 5px solid mat.get-color-from-palette($accent);
  }

  .image-card {
    border: 5px solid mat.get-color-from-palette($primary);
  }
}

