@import "./../../../../../styles/styles-variables.scss";

h2 {
  margin-top: 10px;
  text-transform: uppercase;
}

.contributors {
  margin: 0 auto 60px auto;

  p {
    a {
      border-bottom: 3px solid;
    }
  }

  .contributors-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    a {
      margin: 8px;
      width: 100px;
      display: inline-block;
      text-align: center;

      span {
        display: inline-block;
        padding: 10px 0 0 0;
        line-height: 16px;
      }

      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
