
<ng-container>

    <div class="row" rtl>
        <div class="col-md-6 group">
            <h2>{{ 'app.settings.neta-preferences' | translate }}</h2>
        </div>
    </div>

    <ng-container *ngIf='(dataLoaded$ | async); else loading'>

        <div class="row contributors" rtl [ngClass]="routeAnimationsElements">
            <div class="contributors-wrapper">
                <a *ngFor="let feature of (allNetas$ | async)" (click)="onSelectCard(feature)" class="contributor">
                    <img [ngClass]="selectedNetas[feature.netaid] ? 'card-selected' : 'image-card'" alt
                        src="./../../../../../assets/sample.png">
                    <span>{{feature.netaid}}</span>
                </a>
            </div>
    
            <a mat-raised-button *ngIf="!loading" class="actions-main" color="accent" (click)="saveNetaPreferences()"
                [ngClass]="routeAnimationsElements">
                Save Settings
            </a>
    
        </div>    
      
      </ng-container>
      
      <ng-template #loading>
        <app-spinner [message]="'Loading your preferences'"></app-spinner>
      </ng-template>


</ng-container>