<div class="contributors" [ngClass]="routeAnimationsElements">
    <h2>{{ 'app.about.contributors.title' | translate }}</h2>
    <div class="contributors-wrapper">
        <a *ngFor="let feature of (allNetas$ | async)" (click)="onSelectCard(feature)" class="contributor">
            <img
            [ngClass]="selectedNetas[feature.username] ? 'card-selected' : 'image-card'" alt src="./../../../../../assets/sample.png">
            <span>{{feature.username}}</span>
            <!-- {{selectedNetas[feature.username]}} -->
        </a>
    </div>
    <button (click)="saveNetaPreferences()">Save</button>
</div>