<div class="container" rtl>
    <div class="contributors" [ngClass]="routeAnimationsElements">
        <h2>{{ 'app.about.contributors.title' | translate }}</h2>
        <p>{{ 'app.about.contributors.description2' | translate }}</p>

        <div class="contributors-wrapper">

            <a (click)="onSelectCard()" *ngFor="let feature of allNetas" class="contributor" rel="noopener noreferrer">
                <img [ngClass]="{'card-selected': selected}" alt src="https://avatars0.githubusercontent.com/u/3764868?v=4">
                <span>Tomas Trajan</span>
            </a>

        </div>
    </div>
</div>