@use "~@angular/material" as mat;

@mixin app-settings-netas-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .card-selected {
    border: 2px solid mat.get-color-from-palette($accent);
  }

}
