<div class="row" rtl>
    <div class="col-sm-12">
        <h3>Debates</h3>
    </div>
</div>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
        <app-reddit-client-left-menu [sidemenuItems]="sidemenuItems" (selectNetaEvt)="handleSelectNeta($event)">
        </app-reddit-client-left-menu>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
        <div class="main_content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>