@use "~@angular/material" as mat;

@mixin app-netas-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .header-div {
    // color: mat.get-color-from-palette($primary);
    // font-weight: 500;
  }

}
