.container {
  margin-top: 20px;
}

h1 {
  // margin: 0 0 20px 0;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.tab-header {
  display: flex;
  justify-content: space-between;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0rem 0.5rem 0;
  border-radius: 4px;
}

.form-field {
  flex: 1 auto;
}

.sub-header {
  padding-left: 1rem;
}
