<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="0px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" [ngClass]="routeAnimationsElements" *ngFor="let neta of netas">

      <div class="card">
        <div class="left">
          <img src="https://lh3.googleusercontent.com/ogw/ADea4I53IZ54wvTnQaHVKZEGEx7Knjw3Hko7wLfS-8oDGQ=s83-c-mo" />
          <div class="img-border">
            <div class="img-border">
            </div>
          </div>
          <div class="card-info">
            <h2>Neta Name</h2>
            <p>Neta Short Info</p>
          </div>
          <div class="card-btn">
            <button (click)="openNetaDetails(neta)">View</button>
            <button (click)="connectWithNeta(neta)">Message</button>
          </div>
        </div>
        <div class="right">
          <div>
            <h3>523</h3>
            <p>Posts</p>
          </div>
          <div>
            <h3>1387</h3>
            <p>Likes</p>
          </div>
          <div>
            <h3>146</h3>
            <p>Followers</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
