

<section class="inner-page">
  <div class="container">
    <app-spinner [loading]="true"></app-spinner>   

    <table *ngIf="contacts.length" class="table table-striped">
      <thead>
        <tr>
          <th class="col-1">Del</th>
          <th class="col-1">Edit</th>
          <th class="col-2">Name</th>
          <th class="col-2">Email</th>
          <th class="col-1">Subject</th>
          <th class="col-6">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
          <td>
            <a class="btn btn-sm btn-outline-light link-danger" (click)="onDeleteContact(contact)">
              Delete()
            </a>
          </td>
          <td>
            <a class="btn btn-sm btn-outline-light link-danger" (click)="onEditContact(contact)">
              Edit()
            </a>
          </td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.subject }}</td>
          <td>{{ contact.message }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<button (click)="createContact()">CreateNew()</button>
<button (click)="addMockContact()">addMockContact()</button>
<button (click)="addUserName()">addUserName()</button>
