.example-container {
  width: 100%;
  height: 70vh;
}

.example-sidenav-content {
  width: 75%;
}

.example-sidenav {
  width: 25%;
}
h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h2 {
  margin-top: 10px;
  text-transform: uppercase;
}

.group {
  // margin: 0 0 40px 0;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

mat-icon {
  // margin: 0 6px 6px 0;
  font-size: 20px;
}

mat-form-field {
  flex: 1 0 auto;
}

