<div class="header">
    <div class="header_left">
        <img src="https://thatanjan.github.io/tesla-clone-yt/media/tesla_logo.svg" alt="">
    </div>
    <div class="header_mid">
        <ul>
            <li><a href="#">Model S</a></li>
            <li><a href="#">Model 3</a></li>
            <li><a href="#">Model X</a></li>
            <li><a href="#">Model Y</a></li>
            <li><a href="#">solar roof</a></li>
            <li><a href="#">solar panels</a></li>
        </ul>
    </div>
    <div class="header_right">
        <ul>
            <li class="hide_manu"><a href="#">shop</a></li>
            <li class="hide_manu"><a href="#">account</a></li>
            <li><a href="#">menu</a></li>
        </ul>
    </div>
</div>

<!-- ***************** header end ******************** -->

<section id="fullpage">
    <section class="section section_1 ">
        <div class="text_box">
            <h1 class="heding">nconnect.com </h1>
            <p class="sub_heding">
                <span>Connecting </span>
                <span>Netas</span>
            </p>
        </div>
        <div class="btn_box">
            <button class="primary_btn" [routerLink]="'settings'">Explore</button>
            <button class="secondary_btn" [routerLink]="'netas'">Start as Neta</button>
        </div>
    </section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
    integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    