.noMargin {
    margin: 0px;
  }
  
  .one {
    background-color: red;
    height: 100px;
    width:120px;
  }
  
  .two {
    background-color: yellow;
    height: 100px;
    width:120px;
  }
  
  .three {
    background-color: green;
    height: 100px;
    width:120px;
  }
  
  .four {
    background-color: blue;
    height: 100px;
    width:120px;
  }
  