 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <div class="row noMargin">
      <div class="col one">
        <app-spinner></app-spinner>
      </div>
      <div class="col two">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div class="row noMargin">
      <div class="col three">
        <app-spinner></app-spinner>
      </div>
      <div class="col four">
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>
  