@use "~@angular/material" as mat;

@mixin app-default-layout-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .active {
    //dev
    color: mat.get-color-from-palette($accent, default-contrast);
    background-color: mat.get-color-from-palette($accent);
  }

  .mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    //give nav it's own composite layer
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    height: 50px;
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($accent, default-contrast);
    
    &__item {
      flex-grow: 1;
      text-align: center;
      font-size: 0.7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__item-content {
      display: flex;
      flex-direction: column;
    }
  }
}
