<div class="multi-select">
    <div class="multi-select__wrapper is-grid">
      <div class="multi-select__search">
        <input type="text" placeholder="Type your search..." />
      </div>
      <div class="multi-select__content is-grid">
        <div class="multi-select__categories is-grid">
          <div class="multi-select__category">
            <p>Section 1</p>
          </div>
          <div class="multi-select__category">
            <p>Section 2</p>
          </div>
          <div class="multi-select__category">
            <p>Section 3</p>
          </div>
          <div class="multi-select__category">
            <p>Section 4</p>
          </div>
        </div>

        <div class="multi-select__items-wrapper">
          <div class="multi-select__items is-grid">

            <div class="multi-select__item is-grid">

              <div class="multi-select__item-description is-grid">
                <div class="multi-select__item-check">
                  <label>
                    <input type="checkbox"> Parent Item 1
                  </label>
                </div>
              </div>

              <div class="multi-select__item-childrens is-grid">
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 1
                    </label>
                  </div>
                </div>
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 2
                    </label>
                  </div>
                </div>
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 3
                    </label>
                  </div>
                </div>
              </div>

            </div>

            <div class="multi-select__item is-grid">

              <div class="multi-select__item-description is-grid">
                <div class="multi-select__item-check">
                  <label>
                    <input type="checkbox"> Parent Item 2
                  </label>
                </div>
              </div>

              <div class="multi-select__item-childrens is-grid">
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox">Children Item 1
                    </label>
                  </div>
                </div>
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 2
                    </label>
                  </div>
                </div>
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 3
                    </label>
                  </div>
                </div>
              </div>

            </div>

            <div class="multi-select__item is-grid">

              <div class="multi-select__item-description is-grid">
                <div class="multi-select__item-check">
                  <label>
                    <input type="checkbox"> Parent Item 3
                  </label>
                </div>
              </div>

              <div class="multi-select__item-childrens is-grid">
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 1
                    </label>
                  </div>
                </div>

                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 2
                    </label>
                  </div>
                </div>



              </div>

            </div>

            <div class="multi-select__item is-grid">

              <div class="multi-select__item-description is-grid">
                <div class="multi-select__item-check">
                  <label>
                    <input type="checkbox"> Parent Item 4
                  </label>
                </div>
              </div>

              <div class="multi-select__item-childrens is-grid">
                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 1
                    </label>
                  </div>
                </div>

                <div class="multi-select__item-children is-grid">
                  <div class="multi-select__item-children-check">
                    <label>
                      <input type="checkbox"> Children Item 2
                    </label>
                  </div>
                </div>



              </div>

            </div>

          </div>
        </div>



      </div>
      <div class="multi-select__footer">
        <div class="multi-select__button-set">
          <button>CANCELAR</button>
          <button>OK</button>
        </div>

      </div>
    </div>
  </div>