<ng-container *ngIf="leftSideNav$ | async as sideNavItems">

  <div class="row" rtl>

    <mat-drawer-container class="example-container">

      <mat-drawer mode="side" class="example-sidenav" opened>

        <div *ngFor="let item of sideNavItems" (click)="selectSideNavItem(item)">

          <h2>{{item}}</h2>

        </div>

      </mat-drawer>

      <mat-drawer-content class="example-sidenav-content">

        <div class="row contributors" rtl [ngClass]="routeAnimationsElements">
          <div class="contributors-wrapper">
            <a *ngFor="let feature of (allNetas$ | async)" (click)="onSelectCard(feature)" class="contributor">
              <img [ngClass]="selectedNetas[feature.netaid] ? 'card-selected' : 'image-card'" alt
                src="./../../../../../assets/sample.png">
              <span>{{feature.netaid}}</span>
            </a>
          </div>

        </div>

      </mat-drawer-content>

    </mat-drawer-container>

  </div>

</ng-container>

<app-spinner [loading]="loading" [message]="'Loading content preferences..'"></app-spinner>