<ng-container *ngIf='(dataLoaded$ | async); else loading'>

  <mat-drawer-container class="example-container">

    <mat-drawer mode="side" class="example-sidenav" opened>

      <mat-nav-list *ngFor="let item of sideNavItems" (click)="selectSideNavItem(item)">
        <a mat-list-item (click)="selectSideNavItem(item)">{{item}}</a>
      </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content class="example-sidenav-content">

      <app-settings-general *ngIf="selectedNavItem == 'general'"></app-settings-general>

      <app-settings-netas *ngIf="selectedNavItem == 'netas'"></app-settings-netas>

    </mat-drawer-content>

  </mat-drawer-container>

</ng-container>

<ng-template #loading>
  <app-spinner [message]="'Loading your settings..'"></app-spinner>
</ng-template>