<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">

    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button class="left-menu" (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">

        <div class="user_menu">
            <mat-nav-list>
                <a mat-list-item>
                    <img class="jim" src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/06/21/931/524/694940094001_5800293009001_5800284148001-vs.jpg?ve=1&tl=1" alt="">
                    <span *ngIf="sideNavState">Your Netas</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
        </div>

        <div class="user_menu">
            <mat-nav-list>
                <a mat-list-item *ngFor="let link of complexLinks" (click)="selectNetaLeftMenu(link)">
                    <a matLine>
                        <img class="jim" src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/06/21/931/524/694940094001_5800293009001_5800284148001-vs.jpg?ve=1&tl=1" alt="">
                        <span class="link-caption" *ngIf="sideNavState">{{ link?.caption }}</span>
                    </a>

                    <!-- <span [@animateText]="linkText ? 'hide' : 'show'">{{ page?.name }} </span> -->
                </a>
            </mat-nav-list>
        </div>
    </div>

</div>