
<div class="jumbotron">
	<div class="container">
		<div class="main">
			<h1>Indian Debates</h1>
			<a [routerLink]="'home'" class="btn-main">Let's go</a>
		</div>
	</div>
</div>
<div class="">
		
	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>
	
	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>
	
	<div class="bird-container bird-container--three">
		<div class="bird bird--three"></div>
	</div>
	
	<div class="bird-container bird-container--four">
		<div class="bird bird--four"></div>
	</div>
	
</div>


<div class="footer">
	<div class="container">
		<p>&copy; companyname 2022</p>
	</div>
</div>