<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>nconnect</h1>
  <span>Tagline <i class='fa fa-code'></i>
    by <a>Tagline</a>
  </span>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Go</span></button>
      </div>
      <div class="footer">
        <a href="#">Forgot your password?</a>
        <br/>
        <a href="#">New User?</a>

      </div>
    </form>
  </div>
</div>