<section *ngIf="currentPage == 1">

  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img
          src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg"
          alt="" />
      </div>
      <div class="formBx">
        <form action="">
          <img src="https://img.icons8.com/plasticine/100/000000/whole-fish.png" />
          <h1 class="text-light">nconnect.com</h1>
          <h3>Sign In</h3>
          <input type="text" name="" placeholder="Email Address" />
          <input type="password" name="" placeholder="Password" />
          <input type="submit" name="" value="Login" />
          <br />
          <input type="submit" (click)="goTo('Guest')" name="" value="Guest" />
          <p class="signup">
            No account ?
            <a (click)="goTo('Register')">SignUp</a>
          </p>
        </form>
      </div>
    </div>
  </div>

</section>


<section *ngIf="currentPage == 2">

  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img
          src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg"
          alt="" />
      </div>
      <div class="formBx">
        <form action="">
          <img src="https://img.icons8.com/plasticine/100/000000/whole-fish.png" />
          <h1 class="text-light">nconnect.com</h1>
          <h3>Sign Up</h3>
          <input type="email" name="" placeholder="Email Address" />
          <input type="password" name="" placeholder="Create Password" />
          <input type="submit" name="" value="Sign Up" />
          <br />
          <input type="submit" (click)="goTo('Guest')" name="" value="Guest" />
          <p class="signup">
            Have account ?
            <a (click)="goTo('Signin')">SignIn</a>
          </p>
        </form>
      </div>
    </div>
  </div>

</section>

<!-- <div class="pen-title">
  <h1>nconnect</h1>
  <span>Tagline <i class='fa fa-code'></i>
    by <a>Tagline</a>
  </span>
</div>
<app-register (submitChange)="handleRegister($event)" *ngIf="showRegister"></app-register>

<app-login *ngIf="showLogin" (submitChange)="handleLogin($event)"></app-login>
<button *ngIf="showLogin" mat-button (click)="signInWithGoogle()"><span>Sign in with Google</span></button>


<div *ngIf="showRegister" class="footer">
  <a (click)="handlePasswordForgot()">Forgot your password?</a>
  <br />
  <a (click)="handleSigninClick()">Already have an account?</a>
</div>

<div *ngIf="showLogin" class="footer">
  <a (click)="handlePasswordForgot()">Forgot your password?</a>
  <br />
  <a (click)="handleRegisterClick()">New User?</a>
</div>

<button (click)="signInAnonymously()"><span>Continue as Guest</span></button> -->
