mat-grid-tile {
    background: lightblue;
}

.item-bg {
    // background-size: contain;
    background-size: cover;
    background-position: center;
}

.basic-container {
    // padding: 10px;
    margin-top: 5px;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}
