<div class="">

    <nav mat-tab-nav-bar class="d-none d-sm-flex">
        <a mat-tab-link *ngFor="let e of examples" (click)="handleClickSubTab(e)" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive" [disabled]="e.auth && !(isAuthenticated$ | async)">
            {{e.link}}
            <!-- {{e.about?.title || 'noname'}} {{e.newCount}} -->
        </a>
    </nav>

    <nav class="nav-responsive d-sm-none d-flex justify-content-center">
        <mat-select [(value)]="selectedValue">
            <mat-option *ngFor="let e of examples" [value]="e" (click)="handleClickSubTab(e)"
                [disabled]="e.auth && !(isAuthenticated$ | async)">
                {{e.link}}
            </mat-option>
        </mat-select>
    </nav>

</div>

<div class="basic-container" *ngIf="feeds$ | async as itemsList">

    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="toggleView();">
            <mat-icon>{{ ( isListView ) ? 'view_module' : 'view_list' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="addNewsPublication();">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <div class="content" *ngIf="feeds$ | async as itemsList">
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div [fxFlex]="'20%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of itemsList">
                <mat-card class="mat-elevation-z4" class="item-bg"
                    [ngStyle]="{'background-image': 'url(' + item.publicationImage[0].url + ')'}">
                    <mat-card-header>
                        <mat-card-title>{{item.publicationName}}</mat-card-title>
                    </mat-card-header>
                    <!-- <img mat-card-image src="./../../../../../assets/img/landing-background.jpeg"> -->
                    <mat-card-content>
                        <p>
                            {{item.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>