.example {
  color: red;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
  border-right-color: black;
}

.example-selected-value {
  margin: 15px 0;
}

:host .mat-button-toggle-group {
  border-radius: 20px !important;
}

.light-button {
  height: 50px;
  width: 150px;
  font-size: 110%;
  border: 2px solid blue !important;
}
