$gap: 5px;
$font-size-category: .9rem;
$font-size-name: 1rem;
$font-size-children-name: .8rem;
$row-size: 25px;


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.is-grid {
  display: grid;
}

.multi-select {
  $self: &; // Saves scope reference for multi-select
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);

  &__wrapper {
    min-width: 100%;

    #{ $self }__search {
      border: 1px solid #EDEDED;

      input {
        align-self: stretch;
        border: 0;
        padding: 10px;

        &:focus {
          outline: none;
        }
      }

    }

    #{ $self }__content {
      grid-template-columns: .7fr 2fr;
      grid-template-areas:
        "categories items";

      #{ $self }__categories {
        grid-area: categories;
        background-color: #FAFAFA;
        grid-gap: $gap;
        grid-auto-rows: $row-size;

        #{ $self }__category {
          margin-left: 10px;
          color: #95989A;
          font-weight: 500;
          place-self: center left;
          font-size: $font-size-category;
          cursor: pointer;
          // border: 1px solid salmon;

          :hover {
            color: #46AAFD;
          }
        }
      }

      #{ $self }__items-wrapper {
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;

        #{ $self }__items {
          grid-area: items;
          padding: 5px 0px 5px 0px;
          grid-gap: $gap;


          #{ $self }__item {
            color: #757575;
            font-size: $font-size-name;
            margin-left: 10px;
            grid-template-areas:
              "item-description"
              "item-childrens";

            &-description {
              grid-area: item-description;
              grid-template-columns: 1fr;
              font-weight: bold;

              #{ $self }__item-check {
                place-self: center left;

                label {
                  &:hover {
                    cursor: pointer;    
                  }

                  input {
                    &:hover {
                      cursor: pointer;    
                    }
                  }
                }

              }

              #{ $self }__item-name {
                align-self: center;
              }
            }

            &-childrens {
              grid-area: item-childrens;
              grid-auto-rows: $row-size;
              grid-template-columns: 1fr;
              padding: 5px 0px 5px 0px;

              #{ $self }__item-children {
                margin-left: 20px;

                &-check {
                  place-self: center left;
                  font-size: $font-size-children-name;

                  label {
                    &:hover {
                      cursor: pointer;    
                    }

                    input {
                      &:hover {
                        cursor: pointer;    
                      }
                    }
                 }
                }

                &-name {
                  place-self: center left;
                  font-size: $font-size-children-name;
                }
              }
            }
          }

        }
      }


    }

  }

  &__footer {
    border-top: 1px solid #EDEDED;
    background-color: #F5F5F5;
    padding: 8px;
    display: flex;
    justify-content: flex-end;

    #{ $self }__button-set {

    }
  }

}
