<div class="page-wrap">
  <div id="card1" class="card">
    <div class="center">
      <img id="headshot" src="//lh3.googleusercontent.com/cfRnYAJYN9-WQDp0fHUmcUvytGJKGE6RFHeSJ6C6btiP=s512-no">
    </div>
    <div class="content">
      <h1>Mr</h1>
      <h1>Neta Name</h1>
      <p class="clickable">I'm an illustrator, graphic designer, and front-end developer doing business as <a href="//rookishdesign.com" target="">Rookish Design</a> in the Ballard neighborhood of Seattle, WA. I've been working through <a href="//freecodecamp.com/denmch"
        target="_blank">FreeCodeCamp</a> to help build up my JavaScript skills, and you can see some of my projects below.
      </p>
      <h2>Social profiles</h2>
      <div class="icon-block center clickable">
        <a>
          <i class="fa fa-twitter">
            <span class="screen-reader-text">Twitter</span>
          </i>
        </a>
        <a>
          <i class="fa fa-github">
            <span class="screen-reader-text">Github</span>
          </i>
        </a>
        <a>
          <i class="fa fa-dribbble">
            <span class="screen-reader-text">Dribbble</span>
          </i>
        </a>
        <a>
          <i class="fa fa-codepen">
            <span class="screen-reader-text">Codepen</span>
          </i>
        </a>
        <a>
          <i class="fa fa-stack-overflow">
            <span class="screen-reader-text">Stack Overflow</span>
          </i>
        </a>
      </div>
    </div>
  </div>
</div>