
<app-custom-grid></app-custom-grid>

<!-- 

<p-pickList [source]="table1$ | async" [target]="table2$ | async" sourceHeader="Available"
    targetHeader="Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'30rem'}"
    [targetStyle]="{'height':'30rem'}" filterBy="name" sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name">

    <ng-template let-neta pTemplate="item">
        <div class="product-item">
            <div class="image-container">
                {{neta.fields.netaname}}
                <img [src]="neta.fields.image[0].url" [alt]="neta.fields.netaname" class="product-image" />
            </div>
            <div class="product-list-detail">
            <h5 class="mb-2">{{product.name}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{product.category}}</span>
        </div>
        <div class="product-list-action">
            <h6 class="mb-2">${{product.price}}</h6>
            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
        </div>
        </div>
    </ng-template>
</p-pickList> -->


<!-- <ng-container *ngIf="nonLiveNetas$ | async as nonLiveNetas">
    <div *ngFor="let neta of nonLiveNetas">
        {{neta.fields.netaname|json}}
        <button (click)="uploadToFirebase(neta)">uploadToFirebase</button>
    </div>
</ng-container>

<ng-container *ngIf="airtableFirebaseSyncedNetas$ | async as netas">
    <div *ngFor="let neta of netas">
        {{neta.netaname|json}}
        <button (click)="uploadToFirebase(neta)">uploadToFirebase</button>
    </div>
</ng-container> -->


<!-- {{imageToShow}} -->

<!-- <div *ngIf="imageToShow$ | async as imageToShow1">
    <img [src]="imageToShow1" alt="Place image title" />
    <img id="myimage" [src]="'data:image/jpeg;base64,' + imageToShow1" />

</div> -->


<!-- <p>non-live-netas works!</p>
{{urlTest}}
<div id="myimg">Image
    <img [src]="urlTest" />
</div>



<p>
    Storage!
    <img [src]="downloadUrl$ | async" width="64" height="64" />
</p>

<input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" /> -->